
.toolbar
{
    height: 54px;
    padding: 10px 10px;
}

.funcList
{
    float: left;
}

.searchBox
{
    float: right;
}

.listHeader
{
    border-bottom: 1px solid #f2f6fd;
}

.listHeader ul
{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.listHeader ul li
{
    float: left;
    line-height: 40px;
}

.listBody
{
    overflow: hidden;
    overflow-y: auto;
}

.listWrap
{
    height: auto;
}

.listWrap ul 
{
    padding: 0 0 0 10px;
    margin: 0;
    border-bottom: 1px solid #f2f6fd;
    list-style-type: none;
}

.listWrap ul.listHover,.listWrap ul.listActive
{
    background: #f6faff;
}

.listWrap ul li
{
    float: left;
    line-height: 40px;
}

.listFileName
{
    width:50%;
}

.listFileName input[type="checkbox"]
{
    margin-top: 0;
    margin-right: 10px;
    vertical-align: middle;
}

.listFileName span
{
    display: inline-block;
    vertical-align: middle;
}

.listFileSize
{
    width: 10%;
}

.listFileLastTime
{
    width: 20%;
}
.listFileStatus
{
    width:20%;
}

