
.toolBar
{
    height: 54px;
    padding: 10px 10px;
}

.funcList
{
    float: left;
}


.uploadBox
{
    position: relative;
    display: inline-block;
    width: 54px;
    height: 34px;
}
.uploadBtn
{
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: pointer;
    width: 54px;
    height: 34px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    zoom: 1;
    opacity: 0;
    z-index: 1;
}

.uploadBtn input[type='file']
{
    font-family: Times;
    position: absolute;
    cursor: pointer;
    width: 2000px;
    height: 600px;
    right: 0px;
}

.searchBox
{
    float: right;
}

.listHeader
{
    border-bottom: 1px solid #f2f6fd;
}

.listHeader ul
{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.listHeader ul li
{
    float: left;
    line-height: 40px;
}

.listBody
{
    overflow: hidden;
    overflow-y: auto;
}

.listWrap
{
    height: auto;
}

.listWrap ul 
{
    padding: 0 0 0 10px;
    margin: 0;
    border-bottom: 1px solid #f2f6fd;
    list-style-type: none;
}

.listWrap ul.listHover,.listWrap ul.listActive
{
    background: #f6faff;
}

.listWrap ul li
{
    float: left;
    line-height: 40px;
}

.listFileName
{
    width:50%;
}

.listFileName input[type="checkbox"]
{
    margin-top: 0;
    margin-right: 10px;
    vertical-align: middle;
}

.listFileName span
{
    display: inline-block;
    vertical-align: middle;
}

.listFileSize
{
    width: 10%;
}

.listFileLastTime
{
    width: 20%;
}
.listFileStatus
{
    width:20%;
}


.uploadMsg
{
    position: absolute;
    width: 500px;
    height: 62px;
    overflow: hidden;
    left: 50%;
    margin-left: -250px;
    top:0;
    border:1px solid #ccc;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    display: none;
}
