<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.filemanagement.service.AutoUpdateListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>userMangerServlet</servlet-name>
        <servlet-class>com.filemanagement.user.userMangerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.filemanagement.user.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.filemanagement.user.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLoginServlet</servlet-name>
        <servlet-class>com.filemanagement.user.checkLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userMangerServlet</servlet-name>
        <url-pattern>/userManger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLoginServlet</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
